# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\spring-project\秒杀项目-入门\MyProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
